[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 30,30
mesh_max: 180,180
probe_count: 5, 5

[z_tilt]
z_positions:
  0, 110
  220, 110
points:
  5, 110
  180, 110
speed: 80
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.

#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.01
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
