[bltouch]
sensor_pin: PA6 # this is unique to your mainboard
control_pin: PA7  #this is unique to your mainboard
x_offset: 25        #this needs to be calibrated
y_offset: 0
samples: 3
speed: 10
#z_offset: -1.150

[safe_z_home]
home_xy_position: 110,110 #this should be the center of your bed
speed: 50
z_hop: 10
z_hop_speed: 15