[gcode_macro M106]
#Credits to @Lucidwolf: https://klipper.discourse.group/t/fr-fan-instructions-that-override-fan-g-code-for-duration-of-print/2863
description: Lockable fan control
rename_existing: M106.1
variable_lock: 0
gcode:
  {% set S = params.S|default(0)|int %}
  {% set CURLOCK = printer["gcode_macro M106"].lock %}
  {% if 'L' in params %}
      SET_GCODE_VARIABLE MACRO=M106 VARIABLE=lock VALUE={params.L|default(1)|int}
      M106.1 S{S}
  {% else %}    
      {% if CURLOCK == 1%}
          RESPOND TYPE=error MSG="FAN LOCK ON SEND M106 L0 TO REMOVE"
      {% else %}
          M106.1 S{S}
      {% endif %}
  {% endif %}